@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --bg-black: #000000;
  --fg-white: #fefefe;
  --pr-blue: #355a77;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

h1,
.h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  font-weight: 400;
}

h2,
.h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
  font-weight: 400;
}

h3,
.h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  font-weight: 400;
}

h4,
.h4 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  font-weight: 400;
}

h5,
.h5 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.25rem;
  font-weight: 400;
}

h6,
.h6 {
  font-family: "Bebas Neue", cursive;
  font-size: 1rem;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-white {
  color: var(--fg-white);
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.logo img {
  height: 50px;
}

.logo span {
  font-family: "Bebas Neue", cursive;
  color: var(--fg-white);
  font-size: 1.85rem;
}

.big-blue {
  font-family: "Bebas Neue", cursive;
  font-size: 8rem !important;
  color: var(--pr-blue);
  margin-top: -25px;
}

.big-white {
  font-family: "Bebas Neue", cursive;
  font-size: 8rem !important;
  color: var(--fg-white);
}

.btn.btn__white {
  background-color: var(--fg-white);
  color: var(--bg-black);
  padding: 5px 10px;
  text-decoration: none;
}

.btn.btn__primary {
  font-family: "Bebas Neue", cursive;
  background-color: var(--pr-blue);
  color: var(--fg-white);
  padding: 10px 20px;
  text-decoration: none;
}
